@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  @apply
  z-50
  absolute
  top-2
  right-0
  px-4
  py-3
  text-sm
  rounded
}
  
.alert-danger {
  @apply
  bg-red-100
  border
  border-red-400
  text-red-700
}

.alert-success {
  @apply
  bg-green-100
  border
  border-green-400
  text-green-700
}